@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  html,
  body {
    @apply max-w-full overflow-x-clip m-0;
  }
  
  body {
    @apply min-h-screen;
    /* Base font from design system */
    font-family: 'Lora', serif;
  }
  
  #root {
    @apply min-h-screen;
  }
}

@layer components {
  select {
    @apply w-full max-w-full min-w-0;
  }
}

/* Heading font */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

